*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

label {
  display: none; }

input,
button,
select,
textarea {
  font-family: inherit; }

h1 {
  font-size: 60px; }

h3 {
  font-size: 30px; }

h5 {
  font-size: 22px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-size: 15px;
  line-height: 1.6; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden; }

.btn {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #212121;
  text-decoration: none;
  color: #212121;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: none;
  text-align: center; }
  .btn:hover, .btn:focus, .btn.active {
    background-color: #00897b;
    color: white;
    border-color: #00897b; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  width: 100%; }
  .header .header__inner {
    padding: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize; }
    .header .header__inner .header__logo {
      font-size: 25px;
      font-weight: 700; }
    .header .header__inner .header__nav .nav__item {
      font-size: 20px;
      font-weight: 600;
      margin: 0 20px;
      color: inherit;
      text-decoration: none;
      display: inline-block; }
      .header .header__inner .header__nav .nav__item:last-child {
        margin-right: 0; }
    @media (max-width: 991px) {
      .header .header__inner .header__nav {
        display: none; } }
    .header .header__inner .header__toggle {
      position: absolute;
      right: 15px;
      z-index: 1;
      width: 30px;
      padding: 15px 0;
      cursor: pointer;
      border: none;
      background: none;
      outline: none;
      display: none;
      z-index: 1; }
      .header .header__inner .header__toggle .toggle__item {
        font-size: 0;
        color: transparent;
        width: 30px;
        height: 3px;
        background-color: #000;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: height 0.2s linear;
        -o-transition: height 0.2s linear;
        transition: height 0.2s linear; }
        .header .header__inner .header__toggle .toggle__item:before, .header .header__inner .header__toggle .toggle__item:after {
          content: '';
          width: 30px;
          height: 3px;
          position: absolute;
          background-color: #000;
          left: 0;
          z-index: 1;
          -webkit-transition: -webkit-transform 0.2s linear;
          transition: -webkit-transform 0.2s linear;
          -o-transition: transform 0.2s linear;
          transition: transform 0.2s linear;
          transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
        .header .header__inner .header__toggle .toggle__item:before {
          top: -8px;
          -webkit-transform-origin: left top;
              -ms-transform-origin: left top;
                  transform-origin: left top; }
        .header .header__inner .header__toggle .toggle__item:after {
          top: 8px;
          -webkit-transform-origin: left bottom;
              -ms-transform-origin: left bottom;
                  transform-origin: left bottom; }
      @media (max-width: 991px) {
        .header .header__inner .header__toggle {
          display: block; } }
    @media (max-width: 833px) {
      .header .header__inner {
        padding: 15px 0; } }
  .header--fixed {
    position: fixed;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2); }
  .header--active .header__inner .header__nav {
    display: block;
    padding-bottom: 30px;
    -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff; }
    .header--active .header__inner .header__nav .nav__item {
      display: block; }
  .header--active .header__inner .header__toggle .toggle__item {
    height: 0; }
    .header--active .header__inner .header__toggle .toggle__item:before {
      -webkit-transform: rotate(45deg) translate3d(2px, -5px, 0);
              transform: rotate(45deg) translate3d(2px, -5px, 0); }
    .header--active .header__inner .header__toggle .toggle__item:after {
      -webkit-transform: rotate(-45deg) translate3d(2px, 5px, 0);
              transform: rotate(-45deg) translate3d(2px, 5px, 0); }

.intro {
  background-image: url("public/img/intro_bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 430px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff; }
  .intro:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5; }
  .intro .intro__inner {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    .intro .intro__inner .inner__title {
      line-height: 1;
      margin-bottom: 44px;
      font-weight: 700; }
      @media (max-width: 833px) {
        .intro .intro__inner .inner__title {
          font-size: 30px;
          margin-bottom: 20px; } }
    .intro .intro__inner .inner__subtitle {
      font-weight: normal; }
      @media (max-width: 833px) {
        .intro .intro__inner .inner__subtitle {
          font-size: 14px; } }
    .intro .intro__inner .inner__btns {
      margin-top: 114px; }
      .intro .intro__inner .inner__btns .btn {
        border: 3px solid #fff;
        color: #fff;
        padding: 25px 35px;
        margin-bottom: 15px; }
        .intro .intro__inner .inner__btns .btn:hover, .intro .intro__inner .inner__btns .btn:focus, .intro .intro__inner .inner__btns .btn.active {
          background-color: #00897b;
          border-color: #00897b; }
        @media (max-width: 833px) {
          .intro .intro__inner .inner__btns .btn {
            padding: 15px 20px;
            font-size: 14px; } }
      @media (max-width: 833px) {
        .intro .intro__inner .inner__btns {
          margin-top: 30px; } }

.section {
  padding: 125px 0; }
  .section .section__header {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px; }
    .section .section__header .section__title {
      text-transform: capitalize;
      margin-bottom: 40px;
      line-height: 1; }
  .section .inner__tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px -15px 30px -15px; }
    .section .inner__tabs .btn {
      margin: 5px 10px; }
      @media (max-width: 833px) {
        .section .inner__tabs .btn {
          font-size: 12px; } }
  .section .section__inner {
    margin: -20px -30px 0 -30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section .section__inner .inner__item {
      text-align: center;
      width: -webkit-calc(33.33333% - 30px);
      width: calc(33.33333% - 30px);
      min-width: 300px;
      margin: 30px 15px 0 15px;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      text-decoration: none;
      color: inherit;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 370px; }
    .section .section__inner--about .inner__item, .section .section__inner--services .inner__item {
      background-color: #fff;
      padding: 60px; }
      .section .section__inner--about .inner__item .item__logo img, .section .section__inner--services .inner__item .item__logo img {
        height: auto;
        width: 61px;
        -webkit-transition: -webkit-filter 0.2s linear;
        transition: -webkit-filter 0.2s linear;
        -o-transition: filter 0.2s linear;
        transition: filter 0.2s linear;
        transition: filter 0.2s linear, -webkit-filter 0.2s linear; }
      .section .section__inner--about .inner__item .item__title, .section .section__inner--services .inner__item .item__title {
        margin: 40px 0;
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize; }
      .section .section__inner--about .inner__item .item__text, .section .section__inner--services .inner__item .item__text {
        -webkit-box-flex: 2;
        -webkit-flex-grow: 2;
            -ms-flex-positive: 2;
                flex-grow: 2; }
      .section .section__inner--about .inner__item .item__button, .section .section__inner--services .inner__item .item__button {
        margin-top: 50px;
        position: relative; }
        .section .section__inner--about .inner__item .item__button .fas, .section .section__inner--services .inner__item .item__button .fas {
          position: absolute;
          bottom: -15px;
          left: 45%;
          font-size: 30px;
          opacity: 0;
          color: #fff;
          -webkit-transition: opacity 0.2s linear;
          -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear; }
    .section .section__inner--about a.inner__item:hover, .section .section__inner--services a.inner__item:hover {
      background-color: #00897b;
      color: #fff;
      -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35); }
      .section .section__inner--about a.inner__item:hover .item__logo img, .section .section__inner--services a.inner__item:hover .item__logo img {
        -webkit-filter: invert(1);
                filter: invert(1); }
      .section .section__inner--about a.inner__item:hover .btn, .section .section__inner--services a.inner__item:hover .btn {
        background-color: #00897b;
        color: white;
        border-color: #fff; }
      .section .section__inner--about a.inner__item:hover .fas, .section .section__inner--services a.inner__item:hover .fas {
        opacity: 1; }
    .section .section__inner--works .inner__item {
      background: #000;
      min-width: 200px;
      position: relative; }
      .section .section__inner--works .inner__item .item__img {
        display: block;
        width: 100%;
        height: auto;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear; }
        .section .section__inner--works .inner__item .item__img:hover {
          opacity: 0.3; }
      .section .section__inner--works .inner__item .item__text {
        position: absolute;
        width: 100%;
        color: #fff;
        top: 50%;
        text-align: center;
        font-weight: 600;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear; }
        .section .section__inner--works .inner__item .item__text .text__sup {
          font-size: 20px; }
        .section .section__inner--works .inner__item .item__text .text__sub {
          font-size: 15px; }
      .section .section__inner--works .inner__item:hover .item__img {
        opacity: 0.3; }
      .section .section__inner--works .inner__item:hover .item__text {
        opacity: 1; }
    .section .section__inner--plan {
      margin-bottom: 30px; }
      .section .section__inner--plan .inner__item {
        background: #fff;
        -webkit-transition: -webkit-box-shadow 0.2s linear;
        transition: -webkit-box-shadow 0.2s linear;
        -o-transition: box-shadow 0.2s linear;
        transition: box-shadow 0.2s linear;
        transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear; }
        .section .section__inner--plan .inner__item .item__title {
          background-color: #3949ab;
          padding: 48px 0;
          color: #fff;
          text-align: center;
          position: relative;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
                  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
          .section .section__inner--plan .inner__item .item__title .title__name {
            font-size: 25px;
            line-height: 1; }
          .section .section__inner--plan .inner__item .item__title .title__price {
            font-size: 50px; }
            .section .section__inner--plan .inner__item .item__title .title__price sup {
              font-size: 25px; }
            .section .section__inner--plan .inner__item .item__title .title__price span {
              font-size: 17px; }
        .section .section__inner--plan .inner__item .item__body {
          padding: 30px 48px;
          text-align: center;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-flex: 2;
          -webkit-flex-grow: 2;
              -ms-flex-positive: 2;
                  flex-grow: 2; }
          .section .section__inner--plan .inner__item .item__body .body__list {
            list-style: none;
            font-size: 17px;
            font-weight: 300; }
            .section .section__inner--plan .inner__item .item__body .body__list .list__item {
              border-bottom: 1px solid #bfbfbf;
              margin-bottom: 15px;
              padding-bottom: 5px; }
        .section .section__inner--plan .inner__item .item_btn {
          margin: 18px auto 48px auto;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
        .section .section__inner--plan .inner__item:hover {
          -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.35); }
    .section .section__inner--team .inner__item .item_img {
      display: block;
      width: 100%;
      height: auto; }
    .section .section__inner--team .inner__item .item__text {
      margin-top: 30px; }
      .section .section__inner--team .inner__item .item__text .text__sup {
        font-size: 20px;
        font-weight: 600; }
    .section .section__inner--team .inner__item .item__social {
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .section .section__inner--team .inner__item .item__social .social__item {
        background-color: #f0f1f1;
        border-radius: 10px;
        margin: 0 10px;
        -webkit-flex-basis: 50px;
            -ms-flex-preferred-size: 50px;
                flex-basis: 50px;
        max-width: 50px;
        line-height: 1.6;
        color: #00897b;
        -webkit-transition: color 0.2s linear, background 0.2s linear;
        -o-transition: color 0.2s linear, background 0.2s linear;
        transition: color 0.2s linear, background 0.2s linear;
        font-size: 30px; }
        .section .section__inner--team .inner__item .item__social .social__item:hover {
          color: #fff;
          background-color: #3949ab; }
    .section .section__inner--blog {
      margin: 0 -30px 0 -30px; }
      .section .section__inner--blog .inner__row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
        .section .section__inner--blog .inner__row .row__cell {
          -webkit-box-flex: 1;
          -webkit-flex: 1 1 0;
              -ms-flex: 1 1 0px;
                  flex: 1 1 0;
          min-width: 370px;
          padding: 0 15px; }
          .section .section__inner--blog .inner__row .row__cell .cell__img {
            display: block;
            width: 100%;
            height: auto; }
          .section .section__inner--blog .inner__row .row__cell .cell__data {
            margin-top: 40px;
            max-width: 470px;
            padding: 0 15px; }
            .section .section__inner--blog .inner__row .row__cell .cell__data .data__title {
              font-size: 25px;
              color: #00897b;
              font-weight: 600; }
            .section .section__inner--blog .inner__row .row__cell .cell__data .data__info {
              font-size: 17px;
              font-weight: 600;
              margin: 20px 0; }
              .section .section__inner--blog .inner__row .row__cell .cell__data .data__info .info__date {
                margin-right: 30px; }
    .section .section__inner--contacts .inner__item {
      text-align: center;
      max-width: 200px; }
      .section .section__inner--contacts .inner__item .item__icon {
        background-color: #3949ab;
        border-radius: 50%;
        width: 105px;
        height: 105px;
        font-size: 60px;
        margin: 0 auto 30px auto; }
      .section .section__inner--contacts .inner__item .item__text {
        font-size: 20px;
        font-weight: 600; }
  .section .section__form {
    margin-top: 50px; }
    .section .section__form .form__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 -30px;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .section .section__form .form__row .row__cell {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
        padding: 15px 15px; }
      .section .section__form .form__row .text__input {
        background-color: #fff;
        padding: 15px 15px;
        font-size: 20px;
        color: #212121;
        border-radius: 10px;
        border: none;
        min-width: 300px;
        outline: none;
        font-weight: 600;
        width: 100%; }
        .section .section__form .form__row .text__input:focus {
          color: #000; }
      @media (max-width: 767px) {
        .section .section__form .form__row {
          margin: 0 -15px; } }
    .section .section__form .btns {
      text-align: right;
      margin-top: 0; }
      .section .section__form .btns .btn {
        border: 3px solid #fff;
        color: #fff; }
        .section .section__form .btns .btn:hover, .section .section__form .btns .btn:focus, .section .section__form .btns .btn.active {
          background-color: #00897b;
          border-color: #00897b; }
  .section .btns {
    margin-top: 60px;
    text-align: center; }
    @media (max-width: 767px) {
      .section .btns {
        margin-top: 30px; } }
  .section--light {
    background-color: #e4fdf9; }
  .section--dark {
    background-color: #f0f1f1; }
  .section--black {
    background-image: url("./public/img/contacts_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff; }
    .section--black:before {
      content: '';
      background-color: #212121;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.95; }
    .section--black .container {
      position: relative; }
  @media (max-width: 833px) {
    .section {
      padding: 60px 0; } }

footer {
  line-height: 65px;
  text-align: center;
  font-size: 20px;
  font-weight: 700; }
